/********** 
**HEADER***
***********/
body {
    font-family: 'Ubuntu', sans-serif;
}

header {
    box-sizing: border-box;
    border-radius: 2px;
    background-color: #1f618d ;
    /* border-bottom: 1px solid white; */
}

header nav {
    background-color:    #1f618d ;
}

#navbar-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}


/* Bar kiri */
#nav-bar-left {
    padding-left: 0px;
}

#nav-bar-left li {
    display: inline-block;
    padding-left: 0px;
    padding-top: 10px;
    list-style: none;
}

#nav-bar-left a {
    color: white;
    padding-right: 8px;
    text-align: center;
}

#nav-bar-left i {
    color:  #ffca28 ;
}

/* Bar-Tengah */

#nav-bar-middle{
    text-decoration: none;
    text-align: center;
    margin: 0px auto;
    padding: 0px;
}

#navbar-container p{
    text-align: center;
    margin-bottom: 0px;
}

/* Bar-Kanan */

#dropdown img {
    width: 43px;
    height: 43px;
    padding-left: 0px;
    border-radius: 50%;
    margin-left: 0px;
}

#dropdown {
    padding-top: 10px;
    margin-left: 0px;
    list-style: none;
    text-align: right;
}


#dropdown i {
    color:  #ffca28 ;
}

#profile-name {
    color: white;
}

.dropdown {
    display: flex;
    justify-content: flex-end;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color:  #ffca28 ;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color:    #1f618d ;}

/* Show the dropdown menu on hover */
.dropdown__user:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color:    #1f618d ;}

/********** 
**Section***
***********/

/* Atas */
#home {
    background-color:    #1f618d ;
    color: white;
    padding-top: 120px;
}

#home button {
    border: transparent;
    background-color:  #ffca28 ;
    color: white;
}

#home button:hover {
    border: transparent;
    background-color: orange;
    color: white;
}

/* Approval list */

#revise-list {
    border-top: 2px solid gray;
    margin-top: 30px;
    padding-top: 20px;
}

thead {
    background-color:    #1f618d ;
    color: white;
}

#table-action {
    text-align: center;
}

#see-details-button {
    border-radius: 10px;
    border: 2px solid transparent;
    background-color: #ffca28  ; 
    color: white;
    width: 100px;
    height: 30px;
}

#see-details-button:hover {
    background-color: orange;
}


/********** 
**Footer***
***********/

footer {
    margin-top: 50px;
    background-color:    #1f618d ;
    color: white;
}

#icon-ig {
    color:  #ffca28 ;
    font-size: 30px;
}

#icon-twitter {
    color: skyblue ;
    font-size: 30px;
}

#about-us {
    padding-top: 30px;
}

#contact-us {
    padding-top: 17px;
}

#contact-us a {
    text-decoration: none;
    color: white;
}

/********** 
**Loading***
***********/
#loading {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    display: none;
    z-index: 1;
}

.loader {
    border: 16px solid    #1f618d ;
    border-radius: 50%;
    border-top: 16px solid  #ffca28 ;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    position: absolute;
    top: 40%;
    left: 45%;
    /* background-color: white; */
}

@-webkit-keyframes spin {
0% { -webkit-transform: rotate(0deg); }
100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}

