body {
    background: url("/assets/login2.jpeg") no-repeat center center/cover;
    font-family: 'Ubuntu', sans-serif;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
}

#welcome {
    color: white;
    text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

#login-section {
    margin-top: 30px;
    /* background-color: #ffffff1a; */
    padding: 20px;
    width: 600px;
    /* border-top: 2px solid white; */
    border: 2px solid white;
    border-radius: 15px;
}

#email {
    border-radius: 5px;
    box-sizing: border-box;
    border: 2px solid transparent;
    text-align: center;
    margin-top: 10px;
    width: 340px;
    height:35px;
    color: black;
}

/* #email:hover {
    background-color: #ffffff49;
    color: black;
} */

#password {
    border-radius: 5px;
    box-sizing: border-box;
    border: 2px solid transparent;
    text-align: center;
    margin-top: 10px;
    width: 340px;
    height:35px;
    color: black;
}
/* 
#password:hover {
    background-color: #ffffff49;
} */

#checkbox {
    text-align: left;
    margin-top: 7px;
}

.form-check-label {
    /* background-color: white; */
    /* margin-top: 20px;     */
    border: 2px solid transparent;
    border-radius: 5px;
    padding-left: 25px;
    color: white;
    font-weight: 500;
}

/* .form-check-label:hover {
    background-color: white;
} */

#login-button {
    /* margin-top: 10px; */
    border-radius: 10px;
    border: 2px solid transparent;
    background-color: white; 
    color: black;
    width: 100px;
    height: 40px;
}

#login-button:hover {
    background-color: lightblue;
    color: white;
}
