body {
    background: url("/assets/login-wallpaper.jpg") no-repeat center center/cover;
    font-family: 'Ubuntu', sans-serif;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
}

#login-section {
    margin-top: 30px;
    background-color: white;
    padding: 20px;
    width: 600px;
    border: 2px solid transparent;
    border-radius: 15px;
}

#email {
    border-radius: 5px;
    box-sizing: border-box;
    border: 2px solid lightslategrey;
    text-align: center;
    margin-top: 10px;
    width: 340px;
    height:35px;
    color: black;
}

#password {
    border-radius: 5px;
    box-sizing: border-box;
    border: 2px solid lightslategrey;
    text-align: center;
    margin-top: 10px;
    width: 340px;
    height:35px;
    color: black;
}

#checkbox {
    text-align: left;
    margin-top: 7px;
}

#login-button {
    margin-top: 10px;
    border-radius: 10px;
    border: 2px solid transparent;
    background-color: lightslategrey; 
    color: white;
    width: 100px;
    height: 40px;
}

